-#------------------------------# INDEX FILE
- provide(:title, 'Reservations')
.hero-unit.reservations
  %h4.dot_grey.center Reservations
  .right{style: "margin-bottom: 1em"}
    = link_to 'New Reservation', new_reservation_path, remote: true, class: 'btn  btn-warning custom2', id: "new_reservation"
    = link_to 'Main Menu', root_url, :class => 'btn  btn-default custom2'  
  = form_tag reservations_path, :method => 'get', id: "search_reservation_name" do
    .center
      = text_field_tag :search, params[:search], placeholder:"Search by reservation id ...", class: "search"
      = text_field_tag :search_by_customer, params[:search_by_customer], placeholder:"Search by customer ...", class: "search"
      = text_field_tag :search_by_product, params[:search_by_product], placeholder:"Search by product ...", class: "search"
  %table.table.table-bordered.table-hover{style: "margin-bottom: 0; table-layout: fixed"}
    %thead.header_grey_style
      %tr
        %th.width_5 Id
        %th.width_10 Customer
        %th.width_20 Product
        %th.width_20 End date
        %th.width_20 Qty
        %th.width_20 Created by
        %th.width_20 :colspan => 3} Actions      
  #reservations
  %table.table.table-bordered{style: "table-layout: fixed"}
    %tbody#product_sales_orders.reservations_table         
      = render 'reservations'
  = will_paginate

-#------------------------------# RESERVATIONS PARTIAL
  - @reservations.each do |r|
  %tr{style: "background-color:LightGray;"}
    %td.overflow_line r.number
    %td.overflow_line= r.customer.name if r.customer
    %td.overflow_line= r.product.name if r.product
    %td.overflow_line= r.date.strftime('%d-%m-%Y') if r.date         
    %td.overflow_line r.quantity
    %td.overflow_line r.who        
    %td.overflow_line    %td.center{style: "width: 6%; overflow-y: hidden"}
      = link_to r do
        .btn.btn-sm.btn-info
          %span.glyphicon.glyphicon.glyphicon-eye-open
    %td.center{style: "width: 5%; overflow-y: hidden"}
      = link_to r, method: :delete, data: { confirm: "Remove: Reservation#{r.number}?" } do
        .btn.btn-sm.btn-danger
          %span.glyphicon.glyphicon-remove

